$light-blue: #e7f3ff;
$my-purple: #6479fe;
$bar-highlight: #96a4ff;
$deep-blue: #28394f;
$deep-blueshade: #202e40;
$deep-bluehighlight: #354c69;
$back-bluegray: #f3f6fe;
$headbar-bray: #e6edff;
$my-white: #FFFFFF;
$my-red: #f46691;
$my-yellow: #fdb44d;
$my-green: #2fdfd7;
$icon-purple: #bf80fa;